@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #dedccb;
  color: #111111;
  font-family: "Inter", sans-serif;
}

.font-display {
  font-family: "Cormorant Garamond", serif;
}
